.linkedinButton{
    position: relative;
}

.linkedinButton::before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: 5px;
    bottom: 5px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 12px;
    transition: all ease 0.4s;
}

.linkedinButton:hover::before{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
