.servicesFooter{
    position: relative;
}

.servicesFooter::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    background-color: #008080;
    height: 3px;
    width: 0;
    transition: all ease 0.3s;
}

.servicesFooter:hover::before{
    width: 170px;
}