.diveIn1{
    position: relative;
}

.diveIn1::before{
    position: absolute;
    content: '';
    top: -5px;
    bottom: 5px;
    left: -5px;
    right: 5px;
    border-radius: 12px;
    border: solid 3px black;
    transition: all ease 0.4s;
}

.diveIn1:hover::before{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}