.button_01{
    animation: button_01_animation .8s ease;
    position: relative;
}

.button_01::after{
    content: '';
    position: absolute;
    background-color: lawngreen;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: all ease 0.3s;
}

.button_01:hover::after{
    width: 100%;
}

.button_02{
    animation: button_02_animation 1s ease;
    position: relative;
}

.button_02::after{
    content: '';
    position: absolute;
    background-color: lawngreen;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: all ease 0.3s;
}

.button_02:hover::after{
    width: 100%;
}

.button_03{
    animation: button_03_animation 1.3s ease;
    position: relative;
}

.button_03::after{
    content: '';
    position: absolute;
    background-color: lawngreen;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: all ease 0.3s;
}

.button_03:hover::after{
    width: 100%;
}

.button_04{
    animation: button_04_animation 1.5s ease;
    position: relative;
}

.button_04::after{
    content: '';
    position: absolute;
    background-color: lawngreen;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: all ease 0.3s;
}

.button_04:hover::after{
    width: 100%;
}

.button_05{
    animation: button_05_animation 1.9s ease;
    position: relative;
}

.button_05::after{
    content: '';
    position: absolute;
    background-color: lawngreen;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: all ease 0.3s;
}

.button_05:hover::after{
    width: 100%;
}

@keyframes button_01_animation {
    0%{
        opacity: 0;
        overflow: hidden;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes button_02_animation {
    0%{
        opacity: 0;
        overflow: hidden;
        transform: translateY(100px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes button_03_animation {
    0%{
        opacity: 0;
        overflow: hidden;
        transform: translateY(100px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes button_04_animation {
    0%{
        opacity: 0;
        overflow: hidden;
        transform: translateY(100px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes button_05_animation {
    0%{
        opacity: 0;
        overflow: hidden;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
